@*EquipmentId	EquipmentName	Quantity	EntryDate	ReceiveDate	EquipmentPrice*@
@{
    ViewBag.Title = "Home";
    List<pracLogin.Models.BaseEquipment> equipments = (List<pracLogin.Models.BaseEquipment>)ViewBag.Equipment;

}
<h2>Cart Details:</h2>
<div class="row">
    @for (int i = 0; i < equipments.Count; i++)
    {
        <div class="col-4 mb-2">
            <div class="card" style="width: 18rem; cursor:pointer; height:450px">

                <img style="height:250px;width:100%" src="@Url.Content("~/" + @equipments[i].ImgUrl)" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">@equipments[i].EquipmentName</h5>
                    <span class="card-text text-dark">TK: @equipments[i].EquipmentPrice</span>
                    <br />
                    <span class="text-muted">STK : @equipments[i].Stock</span>
                    <p class="card-text"> @equipments[i].ProductDescription</p>
                    <div style="position: absolute; bottom: 5px;">
                        <button class="btn btn-primary" onclick="AddToCart(@equipments[i].EquipmentId)">Add To Cart</button>

                    </div>

                </div>
            </div>
        </div>
    }
</div>



